<div class="row">
  <p id="notice"><%= notice %></p>

  <h1>Organization Details</h1>

  <p>
    <strong>Name:</strong>
    <%= @org.name %>
  </p>

  <!-- <p>
    <strong>Slug:</strong>
    <%= @org.slug %>
  </p> -->

  <%= link_to 'Edit', edit_org_path(@org) %>

  <%= render partial: 'deals/table', locals: { deals: @org.deals } %>

</div>
